<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Dynamically scaling frontend architecture</title>
</head>
<body>
<div id="root"></div>

</body>
</html>
